@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-light;
}

/* Links */
a {
  @apply text-link;
  @apply underline;
  @apply hover:cursor-pointer;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  @apply font-semibold;
}

h1,
h2 {
  @apply my-2;
}

h3,
h4 {
  @apply my-2;
}

h1 {
  @apply text-xl;
  @apply md:text-2xl;
}

h2 {
  @apply text-lg;
  @apply md:text-xl;
}

h3 {
  @apply text-base;
  @apply md:text-lg;
}

/* Paragraphs */

p {
  @apply mt-2;
  @apply mb-4;
}

/* Lists */
ul, ol {
  @apply my-4;
}

ul {
  @apply list-disc;
  @apply list-outside;
  @apply ml-6;
}

ol {
  @apply list-decimal;
  @apply list-outside;
  @apply ml-6;
}

li > ul {
  @apply ml-4;
  @apply list-disc;
}

ul ul {
  @apply my-0;
}

pre {
  @apply p-4;
  @apply my-4;
  @apply bg-gray-100;
}

header, footer {
  @apply bg-primary;
  @apply bg-opacity-40;
  @apply border-secondary;
  @apply border-dashed;
}

/* Header */
header {
  @apply border-b-1;
  @apply border-black;
  @apply pl-5;
  @apply pr-7;
  @apply md:px-5;
}

header > .container {
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply mx-auto;
  @apply max-w-4xl;
}

header h1,
footer h1 {
  @apply text-base;
  @apply md:text-xl;
  @apply w-3/4;
  @apply md:w-auto;
  @apply hover:cursor-pointer;
}

/* Nav */

nav {
  @apply flex;
  @apply items-center;
}

nav > ul {
  @apply hidden;
  @apply md:flex;
  @apply items-center;
  @apply gap-4;
  @apply list-none;
}

.nav-here {
  @apply border-black;
  @apply border-2;
  @apply font-semibold;
  @apply hover:bg-white;
}

nav li,
footer button {
  @apply text-sm;
  @apply rounded-md;
  @apply font-medium;
  @apply px-12;
  @apply py-2;
  @apply bg-opacity-30;
  @apply hover:cursor-pointer;
}

nav li:hover,
footer button:hover {
}

/* Main */
main {
  @apply max-w-6xl;
  @apply mx-auto;
  @apply pt-4;
  @apply md:pt-6;
  @apply px-5;
  @apply md:px-5;
  @apply pb-20;
}

main section {
  @apply border-2;
  @apply border-gray-300;
  @apply bg-white;
}

main section h2 {
  @apply text-lg;
  @apply leading-6;
  @apply bg-primary;
  @apply bg-opacity-25;
  @apply px-8;
  @apply py-3;
  @apply my-0;
}

/* Footer */
footer {
  @apply border-t-1;
  @apply grid-cols-2;
  @apply pl-5;
  @apply pr-7;
  @apply pt-8;
}

footer a:hover {
  cursor: pointer;
}

footer button {
  @apply mt-4;
  @apply md:mt-7;
}

footer > .container {
  @apply flex;
  @apply flex-col-reverse;
  @apply md:flex;
  @apply md:flex-row;
  @apply md:items-start;
  @apply md:justify-between;
  @apply md:mx-auto;
  @apply md:max-w-4xl;
}

footer > p {
  @apply pt-10;
  @apply md:pt-8;
  @apply pb-6;
  @apply md:pb-16;
}

.footer-nav {
  @apply flex;
  @apply flex-col;
  @apply md:grid;
  @apply md:grid-cols-2;
  @apply md:grid-rows-4;
  @apply md:grid-flow-col;
  @apply gap-2;
  @apply md:gap-4;
}

footer span,
.mobile-nav-item {
  @apply text-xl;
  @apply md:text-2xl;
  @apply leading-8;
  @apply md:leading-8;
  @apply underline;
  @apply font-medium;
}

/* submit a tip */
.submit-form > div {
  @apply flex;
  @apply flex-col;
  @apply mb-6;
}

.submit-form label:not(.nostyle) {
  @apply text-sm;
  @apply md:text-sm;
  @apply leading-4;
  @apply py-2;
  @apply px-3;
  @apply md:px-4;
  @apply bg-primary;
  @apply bg-opacity-90;
}

.submit-form input, .submit-form radiogroup {
  @apply text-sm;
  @apply md:text-base;
  @apply leading-6;
  @apply px-3;
  @apply md:px-3;
  @apply py-5;
  @apply border-2;
  @apply file:rounded-full;
  @apply file:hover:cursor-pointer;
  @apply file:border-0;
  @apply file:px-6;
  @apply file:py-2.5;
  @apply file:py-2.5;
  @apply file:mr-4;
  @apply file:text-sm;
}

.submit-form textarea {
  @apply py-3;
  @apply text-base;
  @apply leading-6;
  @apply border-2;
  @apply px-5;
}

.submit-form .submit-button {
  @apply rounded-lg;
  @apply bg-tertiary;
  @apply bg-opacity-50;
  @apply hover:bg-tertiary;
  @apply hover:bg-opacity-40;
  @apply py-2.5;
  @apply px-10;
  @apply w-auto;
  @apply text-right;
  @apply text-sm;
  @apply md:text-lg;
  @apply leading-9;
  @apply md:leading-10;
  @apply font-medium;
  @apply hover:cursor-pointer;
}

#geocoder {
  @apply w-full;
}

.mapboxgl-ctrl-geocoder {
  box-shadow: none !important;
  max-width: none !important;
  @apply border-1;
  @apply border-black;
  @apply rounded-none !important;
  @apply w-full !important;
  @apply max-w-full !important;
  @apply items-center;
  @apply flex;
}

.mapboxgl-ctrl-geocoder--input {
  @apply h-10 !important;
  @apply w-full !important;
  @apply max-w-full !important;
  @apply py-4 !important;
}

::selection {
  @apply bg-tertiary;
  @apply bg-opacity-50;
}
::-moz-selection {
  @apply bg-tertiary;
  @apply bg-opacity-50;
}


.filter-heading {
  @apply text-gray-400;
  @apply font-light;
  @apply text-sm;
  
  @apply w-full;
  @apply border-b-1;
  @apply mb-2;
}

.type-group button[data-state="on"] {
  @apply bg-tertiary;
  @apply bg-opacity-50;
}

.date-group {
  @apply flex;
  @apply flex-col;
  @apply gap-2;
}

.date-group span {
  @apply w-12;
}

.date-group div {
  @apply flex;
  @apply items-center;
  @apply w-full;
}

.type-group {
  @apply grid;
  @apply grid-cols-2;
  @apply gap-1;
  @apply md:gap-2;
 
  @apply md:grid-cols-4;
  @apply rounded;
  @apply items-center;
  @apply w-full;
}

.date-group input {
  @apply rounded;
  @apply bg-gray-100;
  @apply p-2;
  @apply flex-grow;
  @apply text-sm;
}

.type-group button {
  @apply bg-gray-100;
  @apply text-sm;
  @apply p-2;
  @apply rounded;
  @apply flex-grow;
  @apply px-4;
}